body {
	background-image: url("background.jpg");
}
h1 {
	font-size: 112px;
	font-weight: bold;
	font-family: 'Gruppo';
	text-align: center;
	color: white;
	line-height: 10px;
}
h2 {
	font-size: 24px;
	font-family: 'Gruppo';
	text-align: center;
	text-align: justify;
	color: #edefef;
	line-height: 18px;
}
h6 {
	font-size: 16px;
	font-family: 'Gruppo';
	text-align: center;
	color: white;
	line-height:15px;
}
	
