body {
	background-image: url("background.jpg");
}
h1 {
	font-size: 112px;
	font-weight: bold;
	font-family: 'Gruppo';
	text-align: center;
	color: white;
}
h2 {
	font-size: 18px;
	font-family: 'Gruppo';
	text-align: left;
	color: #edefef;
}
h6 {
	font-size: 10px;
	font-family: 'Gruppo';
	text-align: center;
	color: white;
}
	
