body {
	background-image: url("images/background.jpg");
}

h1 {
	font-size: 110px;
	font-weight: bold;
	font-family: 'Gruppo';
	text-align: center;
	color: white;
	line-height: 10px;
}
h2 {
	font-size: 24px;
	font-family: 'Gruppo';
	text-align: center;
	color: #edefef;
	line-height: 18px;
}
li {
	font-size: 20px;
	font-family: 'Gruppo';
	text-align: left;
	color: white;
	line-height: 15px;
}
ul {
	font-size: 20px;
	font-family: 'Gruppo';
	text-align: left;
	color: white;
	padding-left: 34%;
	line-height: 15px;
}
body {
	font-size: 16px;
	font-family: 'Gruppo';
	text-align: center;
	color: white;
	line-height:15px;
}
